{% extends 'user/user_base.html' %}
{% block body_block %}

{% if get_location %}

<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>

<script>

var map;

function initialize() {

  // Try HTML5 geolocation
  if(navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(function(position) {
      var pos = new google.maps.LatLng(position.coords.latitude,
                                       position.coords.longitude);
      lat = document.getElementById('lat')
      lng = document.getElementById('lng')
      form = document.getElementById('user_location_form')
      lat.value = pos.lat()
      lng.value = pos.lng()
      form.submit()
    }, function() {
      handleNoGeolocation(true);
    });
  }
}

function handleNoGeolocation(errorFlag) {
  if (errorFlag) {
    alert('Error: The Geolocation service failed.');
  } else {
    alert('Error: Your browser doesn\'t support geolocation.');
  }
}

google.maps.event.addDomListener(window, 'load', initialize);

</script>
<form id = "user_location_form" action="{% url 'users:home' %}" method="post" hidden = true>
{% csrf_token %}
<input id="lat", name = "latitude"/>
<input id="lng", name = "longitude"/>
</form>

{% endif %}

<div class="container" id="search_container">
  <div class="col-sm-6">
    <a href="{% url 'users:findproducts' %}" class="btn btn-xlarge" id="product_search">Search for Products</a>
  </div>
  <div class="col-sm-6">
    <a href="{% url 'users:findshops' %}" class="btn btn-xlarge" id="shop_search">Search for Shops</a>
  </div>
</div>

{% endblock %}
